<?xml version="1.0"?>

<model>
  <name>Dobot_magician_gazebo</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Daniel Tobon</name>
    <email>daniel.tobon@uao.edu.co<email/>
  </author>

  <description>
    Dobot Magician Robot
  </description>
</model>
